@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 
*{
    margin: 0;
    padding: 0;

}
.container{
    background: url(pb1.jpg);
    height: 100vh;
    background-size: 100% 100%;

}

.container .navber{
    width: 100%;
    height: 80px;
    background-color: rgb(76, 219, 219);
}

.navber .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
    
}

.navber .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #f3f3f3;
}

.navber ul{
   float: right;
   margin-right: 20px;

}

.navber ul li{
list-style: none;
display: inline-block;
margin: 0 8px;
line-height: 80px;

}

.navber ul li a{
    color: #f3f3f3;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
}

.novber ul li a.active,
.novber ul li a:hover{
    background: #ff6e00;
    border-radius: 2px;
    transition: .5s;

}

.container .center{
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-family:sans-serif;
user-select: none;
}

.center h1{
    color: black;
    font-size: 70px;
    font-weight: 900px ;
    text-align: center;
}

.center h2{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    width: 1300px;
    margin-top: 30px;
    text-align: center;

}

.center .buttons{
    margin: 35px 450px;
    text-align: center;
}

.center .buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: rgb(207,96,88);
    border: 1px red;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    transition: .5s;


}

.buttons button:hover{
    background: #fff;

}